@font-face {
  font-family: 'Poppins', sans-serif;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  background-color: #F9F9F9;
  font-size: 14px;
}

.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  margin-left: 15px;
  margin-right: 15px;
}



